## Listas

In [36]:
#Creacion de la Lista
lista=["madrid",True,18,9.54,'sevilla']
#Pintamos la Lista
print(lista)
#Pintamos el segundo elemento de la lista
print(lista[1])
#Numero de elementos de la Lista
print(len(lista))
#Añadir elemento
lista[2]="Barcelona"
print(lista)

['madrid', True, 18, 9.54, 'sevilla']
True
5
['madrid', True, 'Barcelona', 9.54, 'sevilla']

### Metodos

In [37]:
#append(): añade un elemento en la ultima posición
lista.append("madrid")
print(lista)

['madrid', True, 'Barcelona', 9.54, 'sevilla', 'madrid']

In [38]:
#count(): cuenta el numero de veces que aparece un elemento
lista.count("madrid")

2

In [39]:
#extend(): añade un elemento iterable en la ultima posición
lista.extend([3])
print(lista)

['madrid', True, 'Barcelona', 9.54, 'sevilla', 'madrid', 3]

In [40]:
#index(): te indica la posicion del primer elemento seleccionado 
lista.index("madrid")

0

In [41]:
#insert(): inserta in elemento en la lista podiendo elegir la posicion y el elemento que vamos a añadir
lista.insert(2,"Valencia")
print(lista)

['madrid', True, 'Valencia', 'Barcelona', 9.54, 'sevilla', 'madrid', 3]

In [42]:
#pop(): elimina el ultimo elemento de la lista o el elemento seleccionado
print(lista.pop())
print(lista.pop(2))
print(lista)

3
Valencia
['madrid', True, 'Barcelona', 9.54, 'sevilla', 'madrid']

In [43]:
#remove(): sirve para borrar un elemento concreto en el caso de tener varios elementos iguales borra el primero
lista.remove("Barcelona")
print(lista)

['madrid', True, 9.54, 'sevilla', 'madrid']

In [44]:
#reverse(): invierte el orden de los elementos de la lista
lista.reverse()
print(lista)

['madrid', 'sevilla', 9.54, True, 'madrid']

In [48]:
#sort(): ordena los elementos de una lista (no ordena datos tipos float y string)
numeros=[6,3.8,2,4.7,5,6.4]
numeros.sort()
print(numeros)

[2, 3.8, 4.7, 5, 6, 6.4]