## Sets

In [2]:
#Creacion de un Set
set = {"madrid",True,18,9.54,'sevilla'}
print(set)

{True, 18, 'madrid', 9.54, 'sevilla'}

### Metodos

In [3]:
#add(): a√±ade un elemento
set.add(85)
print(set)

{True, 18, 85, 'madrid', 9.54, 'sevilla'}

In [4]:
#clear(): elimina todos los elementos
set.clear()
print(set)

set()

In [11]:
#copy(): copia un set
set = {"madrid",True,18,9.54,'sevilla'}
set1 = set.copy()
set == set1
print(set)
print(set1)

{True, 18, 'madrid', 9.54, 'sevilla'}
{True, 18, 'madrid', 9.54, 'sevilla'}

In [12]:
#difference(): te muestra los elementos distintos entre dos sets
set.add("Barcelona")
print(set.difference(set1))

{'Barcelona'}

In [7]:
#difference_update(): actualiza el set con los elementos diferentes de otro set
set.add("Valencia")
set1.difference_update(set)
print(set)

{'Valencia', 'Barcelona'}

In [8]:
#discard(): elimina un elemento se la lista
set.discard('madrid')
print(set)

{'Valencia', 'Barcelona'}

In [14]:
#intersection(): devuelve la interseccion entre varios conjuntos mutables
print(set)
print (set1)
print (set.intersection(set1))

{True, 18, 'madrid', 9.54, 'sevilla', 'Barcelona'}
{True, 18, 'madrid', 9.54, 'sevilla'}
{True, 'madrid', 9.54, 'sevilla', 18}

In [16]:
#pop(): elimina el ultimo elemento de la lista o el elemento seleccionado
print(set.pop())
print(set)

18
{'madrid', 9.54, 'sevilla', 'Barcelona'}

In [17]:
#remove(): sirve para borrar un elemento concreto en el caso de tener varios elementos iguales borra el primero
set.remove("Barcelona")
print(set)

{'madrid', 9.54, 'sevilla'}

In [20]:
#update(): sirve para borrar un elemento concreto en el caso de tener varios elementos iguales borra el primero
conjunto={1,2}
set.update(conjunto)
print(set)

{1, 2, 'madrid', 9.54, 'sevilla'}